@{
    ViewBag.Title = "About";
}


<div class="jumbotron">
    <div class="row">
        <div class="col-md-3">
            <img width="150" src="https://yt3.ggpht.com/-Kcd3KMxoqzw/AAAAAAAAAAI/AAAAAAAAAAA/EvhGpQ4rsh8/s900-c-k-no-mo-rj-c0xffffff/photo.jpg" class="rounded-circle" />
        </div>
        <div class="col-md-4">
            <p>@User.Identity.Name</p>
            <p>
                <button class="btn btn-cloud">Follow</button>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col offset-2">
            <ul class="nav nav-tabs md-pills pills-ins" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#panel11" role="tab"><i class="fa fa-user"></i> Personal info</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#panel12" role="tab"><i class="fa fa-heart"></i> Followers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#panel13" role="tab"><i class="fa fa-envelope"></i> Articles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#panel13" role="tab"><i class="fa fa-envelope"></i> Photos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#panel13" role="tab"><i class="fa fa-envelope"></i> Trouvaille</a>
                </li>
            </ul>
        </div>
    </div>
</div>
