@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col">
        <h3>Latest postswill be here! :)</h3>
        <hr />
        <form class="form-inline waves-effect waves-light">
            <input class="form-control" type="text" placeholder="Search">
        </form>
    </div>
</div>