@model IEnumerable<Trouvaille.Server.Models.PostViewModel>
@{
    ViewBag.Title = "Home Page";
}

<div class="row justify-content-center">
    <div class="col-md-8">
        @using (Html.BeginForm("Search", "Search", new { SearchString = ViewBag.searchText},
                FormMethod.Post, new { @class = "form-inline waves-effect waves-light" }))
        {
            @Html.TextBox("SearchString")
            <input type="submit" value="Search" formmethod="post" class="btn sunset-color" />
        }
    </div>
</div>
<hr />
@*<div class="row justify-content-center">
    <div class="col-md-8">
        @foreach (var post in Model)
        {
            <h3>@post.Description</h3>
            <h5><i>Posted by:</i> @Html.ActionLink(post.CreatorUsername, "ById", new { controller = "user", area = "", @id = post.CreatorId }, new { })</h5>
            <img src="http://www.floridapolyretreat.com/wp-content/uploads/2017/01/travel2.jpg" height="300" />
            <hr />
        }
    </div>
</div>*@
<div id="map-container" class="z-depth-1 wow fadeInUp" style="height: 300px"></div>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDrFFeTMMLaOj49X29A_qeVbsMDs97rAfQ&callback=initMap">
</script>
<script>
    var map;
    function initMap() {
        map = new google.maps.Map(document.getElementById("map-container"), {
            zoom: 2,
            center: new google.maps.LatLng(2.8, -187.3),
            mapTypeId: 'terrain'
        });

        $.ajax({
            url: '/Places/GetPlaces',
            type: 'GET',
            success: function (places) {
                for (var i = 0; i < places.length; i++) {
                    var place = places[i];
                    var latLng = new google.maps.LatLng(place.Latitude, place.Longtitude);
                    var marker = new google.maps.Marker({
                        position: latLng,
                        map: map
                    });
                }
            },
            error: function (error) {
                debugger;
                $(that).remove();
                DisplayError(error.statusText);
            }
        });
    }
</script>