@{
    ViewBag.Title = "Home Page";
}

<div class="row justify-content-center">
    @Html.Action("Search", "Search")
</div>
<hr />
<div id="map-container" class="z-depth-1 wow fadeInUp" style="height: 350px"></div>
@section Scripts{
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDrFFeTMMLaOj49X29A_qeVbsMDs97rAfQ&callback=initHomeMap">
    </script>
    <script>
        function initHomeMap() {
            var map = new google.maps.Map(document.getElementById("map-container"), {
                zoom: 2,
                center: new google.maps.LatLng(42.6977, 23.3219),
                mapTypeId: 'terrain'
            });

            $.ajax({
                url: '/Home/GetPlaces',
                type: 'GET',
                success: function (data) {
                    for (var i = 0; i < data.places.length; i++) {
                        var place = data.places[i];
                        var latLng = new google.maps.LatLng(place.Latitude, place.Longtitude);
                        var marker = new google.maps.Marker({
                            position: latLng,
                            map: map
                        });
                    }
                },
                error: function (error) {
                    $(that).remove();
                    DisplayError(error.statusText);
                }
            });
        }
    </script>
}