
@{
    ViewBag.Title = "Admin panel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <div class="row">
        <div class="divider-new">
            <h2 class="h2-responsive wow fadeInUp">Admin Panel</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @Ajax.ActionLink("Users", "GetUsers", new { controller = "panel" },
                       new AjaxOptions
                       {
                           UpdateTargetId = "admin-container",
                           HttpMethod = "GET",
                           InsertionMode = InsertionMode.Replace
                       }, new { @class = "btn sunset-color" })

            @Ajax.ActionLink("Articles", "GetArticles", new { controller = "panel" },
                       new AjaxOptions
                       {
                           UpdateTargetId = "admin-container",
                           HttpMethod = "GET",
                           InsertionMode = InsertionMode.Replace
                       }, new { @class = "btn sunset-color" })
        </div>
    </div>

    <div id="admin-container">

    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
