@model IEnumerable<UserViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Admin is here!</h2>
<h5>Users</h5>
<table class="table table-bordered table-responsive">
    <tr>
        <td>Id</td>
        <td>Username</td>
        <td>First name</td>
        <td>Last name</td>
    </tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Id</td>
            <td>
                @Html.ActionLink(user.UserName, "ById", new { controller = "user", area = "", id = user.Id }, new { })
            </td>
            <td>@user.FirstName</td>
            <td>@user.LastName</td>
        </tr>
    }
</table>